#container
    .click-it
        %h1.ci__title Click It!
        .ci__start
            %button.ci__start-btn
            %p.ci__label Start
        .ci__count --
        .ci__strict
            %button.ci__strict-btn
            %p.ci__label Strict
        %button.ci__btn#one
        %button.ci__btn#two
        %button.ci__btn#three
        %button.ci__btn#four
